/* 
    Created on : Jun 13, 2020, 1:27:31 PM
    Author     : ruben
*/

/*Main properties*/
#main {
  background: #eee;
}

/* 0.1 Navigation, place holder */
#header {
  height: 60px;
  background: #aaa;
}

/* Settings properties */
#settings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Button to Return to Select page */
#closeButton {
  float: right;
}
/* Close button properties */
button {
  background-color: #eee;
  font-size: 30px;
  text-align: center;
  border: 1px solid #eee;
  text-transformation: uppercase;
  text-decoration: none;
  outline: none;
}

button:hover {
  transition: 0.3s;
  background-color: #ccc;
}

/*Set Options section*/
#setOptions {
  height: 200px;
  width: 500px;
  float: left;
  background: #ccc;
}

/*Setting Options Table*/
#optionsTable {
  width: 500px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Set Notifications section*/
#setNotifications {
  height: 200px;
  width: 500px;
  float: left;
  background: #ccc;
}

/*Notifications Table*/
#notificationsTable {
  width: 500px;
}

/* 0.2 Footer properties, place holder*/
#footer {
  height: 60px;
  clear: left;
  background: #aaa;
}
